<p>
  <a href="http://twitter.com/jrfernandez">Jose Fernandez</a> is the author of Production Hacks. He's a software engineer currently located in Minneapolis, Minnesota and the lead Ruby developer for <a href="http://www.fourcubed.com">Four Cubed</a> and <a href="http://www.pokeraffiliatesolutions.com">PAS</a>.
</p>

<p>
  <a href="http://www.github.com/jfernandez">Github</a>
  |
  <a href="http://www.twitter.com/jrfernandez">Twitter</a>
</p>