<p>
  <a href="http://www.jrfernandez.com">Jose Fernandez</a> is the author of Production Hacks. He's a software engineer currently residing in Minnesota.</a>
</p>

<p>
  <a href="http://www.github.com/jfernandez">Github</a>
  |
  <a href="http://www.twitter.com/jrfernandez">Twitter</a>
</p>