<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang='en-US' xml:lang='en-US' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
		<title><%= title %></title>
		<meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
		<meta content='ruby, rails, ruby on rails, mysql, software development, production, memcached, cache_fu, web application, redis, cloud' name='keywords' />
		<meta content='index, follow, noarchive' name='robots' />
		<meta content='Production Hacks: Software Development tips from a battle hardened cloud application. (MySQL, Ruby on Rails, memcached, Redis, Amazon EC2)' name='description' />
		<meta name="google-site-verification" content="YwPzqMJZzcA6vnzd199ZVA0XSazzxFu6KHMEocjTD6E" />
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
  </head>
  <body>
    <div id="title">
      <a href="/">Production Hacks</a>
    </div>
    <section>
      <%= yield %> 
    </section>
    <footer>
      powered by <a href="http://cloudhead.io/toto">toto</a>
    </footer>
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-15863832-1");
    pageTracker._trackPageview();
    } catch(err) {}</script>
  </body>
</html>